@import "../variables.less";




.bgPlane{
  //height:75%;
  height:60%;
  overflow: hidden;
  background-size: cover;
  background-position:center;
  background-clip:border-box;
  position: relative;
  top: 0px;
}



@media screen and (max-width: @mediavar-maxWidth){
  .bgPlane{
    height: 40%;
  }
}
