@import "../variables.less";
/*

*/


@txt-bigHeight:50px;

@btn-radius:3px;

@btn-color-gray:#eeeeee;
@btn-color-red:#e08686;


/*大按钮padding样式*/
@nav-btn-big-pLeftRight:20px;
@nav-btn-big-PTopBottom:14px;

.form-group{



}


  .btn.search{
    //background-color: #e70916;
    //background: -webkit-radial-gradient(#f5514e 25%, #e70415 50%, #f13f35 40%); /* Safari 5.1 - 6.0 */
    background: -webkit-linear-gradient(#ef423b, #e70415);
    border-top-right-radius: @btn-radius;
    border-bottom-right-radius: @btn-radius;
    position: relative;
    border: 0px;
    left: -7px;
    top:7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: white;
    outline: none;
    padding: 7px 30px 7px 30px;
    box-shadow: 2px 7px 10px -6px #e81420;
  }

  .btn.search i{
    transition: all 200ms;
    font-size: 2.5em;
  }

  .btn.search:hover{
    text-shadow: 0px 0px 6px white;
  }

  .txt.searchInput{
    background-color: #e1e1e1;
    border: 0px;
    border-top-left-radius: @btn-radius;
    border-bottom-left-radius:@btn-radius;
    color:#999999;
    width: 32%;
    font-family: 微软雅黑;
    transition: all 500ms;
  }

  .txt.searchInput:focus{
    box-shadow: 0px 0px 25px 3px #e7e6e6;
  }

  .txt{
    outline: none;
  }


  .txt.big{
    height: @txt-bigHeight;
    line-height: @txt-bigHeight;
    padding-left:40px;
  }

  .txt.normal{

  }

  .txt.small{

  }

  .btn{
    background-color: white;
    border-radius: @btn-radius;
    border: 1px solid #eeeeee;
    cursor: pointer;
    outline: none;
  }

  .btn.big{
    padding: @nav-btn-big-PTopBottom @nav-btn-big-pLeftRight @nav-btn-big-PTopBottom  @nav-btn-big-pLeftRight;
  }

  .btn.normal{

  }

  .btn.small{
    padding: 6px 7px 6px 7px;
    font-size: 12px;
  }

  .btn-default{
    border-color: #ebebeb;
    color: black;
  }

  .btn-opacity{
    background-color: transparent;
  }

  .btn-red{
    border:2px solid @btn-color-red;
    color:@btn-color-red;
    font-family:微软雅黑;
  }

  .btn:active{
    background-color: #e23a43;
    color: white;

  }


@media screen and (max-width: @mediavar-maxWidth) {
    .btn.search{
      padding: 7px 10px 7px 10px;
      font-size: 0.6em;
      top: 2px;
    }
    .txt.searchInput{
      height:  @txt-bigHeight/1.5;
      line-height:  @txt-bigHeight/1.5;
      padding: 10px;
      width: 56%;
    }
    .btn.big{
      padding: @nav-btn-big-PTopBottom/2-1  @nav-btn-big-pLeftRight / 2  @nav-btn-big-PTopBottom/2  @nav-btn-big-pLeftRight /2-1;
    }
}
