/*基础样式*/
body,html{
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,
p{

}


/*头部*/
.header{

}

/*内容*/
.content{
  padding:auto 5%;
  font-size: 14px;
}

/*底部*/
.footer{

}

/*table与cell布局*/
.item-row{
  position: relative;
  top: 0px;
  display: table;
  width: 100%;
  word-break: break-all;
  text-align: left;
  vertical-align: top;
}

.item-row.fixed{
  table-layout: fixed;
}

.item-col{
  display:table-cell;
  vertical-align:top;
}

/*水平垂直居中*/
.item-row.center>.item-col,
.item-col.center{
  text-align: center;
  vertical-align: middle;
}
/*垂直居中*/
.item-row.vt-middle>.item-col,
.item-col.vt-middle{
  vertical-align:middle;
}
/*水平居中*/
.item-row.hz-center>.item-col,
.item-col.hz-center{
  text-align: center;
}



/*inline-block布局*/
.item-group{

}

.item{

}

/*QA:类名集合起来会不会比较好*/





/*行*/
.row{
  display: table;
  width: 100%;
  word-break: break-all;
  text-align: left;
  vertical-align: top;
}


.row.center{
  margin-left: auto;
  margin-right: auto;
}

/*列*/
.col{
  display:table-cell;
  vertical-align:top;
  table-layout: fixed;
  width: auto;
  text-align: left;
}



/*设备类*/
.dev{

}

@media screen and (max-width: 768px) {
  .dev-phone .col{
      display:table-row;
  }
}
