/*基础样式*/
body,html{
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 62.5%;
}

*{
  box-sizing : border-box;
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6,
p{

}


/*布局类*/

/*容器行*/
.row{
  display: table;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  vertical-align: top;
}

/*栅栏布局内容列*/
.col{
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 12.5%;
}

.col-8of1{
  width: 12.5%;
}

.col-8of2{
  width: 25%;
}

.col-8of3{
  width: 37.5%;
}

.col-8of4{
  width: 50%;
}

.col-8of5{
  width: 62.5%;
}

.col-8of6{
  width: 75%;
}

.col-8of7{
  width: 87.5%;
}

.col-8of8{
  width: 100%;
}



/*====================元素对齐=======================*/
/*水平垂直居中*/
.row.hv-center,
.row.vh-center{
  text-align: center;
  vertical-align: middle;
}

/*横向对齐*/
.col.h-center,
.row.h-center{
  text-align: center;
}

.col.h-left,
.row.h-left{
  text-align: left;
}

.col.h-right,
.row.h-right{
  text-align: right;
}

/*垂直对齐*/
.row.v-top>.col,
.row.v-top:before,
.row.v-top::before{
  vertical-align: top;
}

.row.v-middle>.col,
.row.v-middle:before,
.row.v-middle::before{
  vertical-align: middle;
}

.row.v-bottom>.col,
.row.v-bottom:before,
.row.v-bottom::before{
  vertical-align: bottom;
}

.row.v-top:before,
.row.v-middle:before,
.row.v-bottom:before,
.row.v-top::before,
.row.v-middle::before,
.row.v-bottom::before{
  content: "";
  display: inline-block;
  height: 100%;
  width: auto;
}




/*设备类*/
.dev{

}

@media screen and (max-width: 768px) {
  .dev-phone .col{
      display:table-row;
  }
}
