/*基础样式*/
body,html{
  padding: 0;
  margin: 0;
  height: 100%;
  width:100%;
  font-size: 62.5%;
}

body{
  display: table;
}

/*默认元素基础样式*/
*{
  box-sizing : border-box;
  padding: 0;
  margin: 0;
  word-break: break-all;
}


img{
  max-width: 100%;
}

h1{
  font-size: 3.6rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2.7rem;
}
h4{
  font-size: 2.1rem;
}
h5{
  font-size: 1.8rem;
}
h6{
  font-size: 1.6rem;
}


a{
  text-decoration: none;
  color: gray;
  outline: none;
}


textarea,
button,
input{
   -webkit-tap-highlight-color: transparent;
   -webkit-appearance:none;
   outline: none;
}

/*【布局】*/
.header,
.footer-wrap,
.container
{
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 1.4rem;
}

.container{
  max-width:1200px;
  margin:0 auto;
}

.container.scroll-y,
.container.scroll-x{
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
}

/*【布局】-属性*/
.container.has-bg{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.container.has-padding .col{
  padding: 12px;
}

.header{
  height: 64px;
  width: 100%;
}

.header.has-Fixed{
  position: fixed;
  top: 0px;
  left: 0px;
}

.footer-wrap{
   display: table-row;
   height: 1px;
}

/*容器行*/
.row{
  display: table;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  vertical-align: top;
}

/*栅栏布局内容列*/
.col{
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /*text-align: left;*/

}

.col-1of8{
  width: 12.5%;
}

.col-2of8{
  width: 25%;
}

.col-3of8{
  width: 37.5%;
}

.col-4of8{
  width: 50%;
}

.col-5of8{
  width: 62.5%;
}

.col-6of8{
  width: 75%;
}

.col-7of8{
  width: 87.5%;
}

.col-8of8{
  width: 100%;
}

.col-1of8,
.col-2of8,
.col-3of8,
.col-4of8,
.col-5of8,
.col-6of8,
.col-7of8,
.col-8of8{
  padding-left: 15px;
  padding-right: 15px;
}

/*====================元素对齐=======================*/
/*水平垂直居中*/
.row.hv-center,
.row.vh-center,
.row.vh-center>.col,
.row.vh-center>.col
{
  text-align: center;
  vertical-align: middle;
}

/*横向对齐*/
.col.h-center,
.row.h-center{
  text-align: center;
}

.col.h-left,
.row.h-left{
  text-align: left;
}

.col.h-right,
.row.h-right{
  text-align: right;
}

/*垂直对齐*/

.row.v-top>.col,
.row.v-top:before,
.row.v-top::before{
  vertical-align: top;
}


.row.v-middle>.col,
.row.v-middle:before,
.row.v-middle::before{
  vertical-align: middle;
}


.row.v-bottom>.col,
.row.v-bottom:before,
.row.v-bottom::before{
  vertical-align: bottom;
}

.row.hv-center:before,
.row.vh-center:before,
.row.hv-center::before,
.row.vh-center::before{
  vertical-align:middle;
}



.row:before,
.row::before{
  content: "";
  display: inline-block;
  height: 100%;
  width: auto;
  vertical-align: top;
}



/*
.row.hv-center:before,
.row.vh-center:before,
.row.hv-center::before,
.row.vh-center::before,
.row.v-top:before,
.row.v-middle:before,
.row.v-bottom:before,
.row.v-top::before,
.row.v-middle::before,
.row.v-bottom::before{
  content: "";
  display: inline-block;
  height: 100%;
  width: auto;
}
*/


/*图片类*/
img-circle{
  border-radius:100em;
}

/*全局属性*/
.g-zoom-base{
  z-index: 999;
}
.g-zoom-height{
  z-index: 1000;
}
.g-zoom-alert{
  z-index:1001;
}
.g-zoom-max{
  z-index: 1003;
}

/*公用样式函数*/
.clearFloat:after,
.clearFloat::after{
  content: "";
  display: block;
  clear: both;
}



/*设备类*/
.dev{

}

@media screen and (max-width: 768px) {
  .dev-phone .col{
      display:table-row;
  }
}
