/*==========覆盖部分默认样式==========*/
a{
  cursor: pointer;
}

html{
  width: 100%;
  height: 100%;
}

body{
  background-image: url('content/projectImage/bg.png');
  font-family: 微软雅黑;
}

.admin-sidebar{
  overflow: hidden;
}

.am-nav-tabs{
  margin-top: 0.6em;
  margin-left: 0.5em;
}

.am-topbar-customer{
  background-color: #ed2c33;
  border-color:#da1b22;
  color:#eee;
}
.admin-sidebar-list li div{
  display: block;
  padding: 1rem 0;
  cursor:pointer;
  color: #5c5c5c;
  padding-left: 24px;
}

*+.am-alert{
  margin: 0px;
}

.am-btn-primary{
  background-color:#4d82d6;
}


/*==========拖拽面板样式==========*/
.admin-content-body{
  background-color: #fafafa;
  height: 30%;

}

/*==========面板Size类型样式==========*/
.formContent-default{
  width: 414px;
  height: 736px;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0px 0px 22px -8px black;
  position:relative;
  top:0px;
  overflow:auto;
  transition: all 0.5s;
  float:left;
  margin-top: 1.2em;
  margin-left: 1em;
}

.formLayoutType-select{
  margin-right: 2em;
}

.form-tip-group{
  display: table;
  text-align:center;
  font-size: 1.2em;
  color: #dfdfdf;
  height: 100%;
  width: 100%;
}

.form-tip{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.form-tip-border{
  border: 1px dashed #eeeeee;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  width:80%;
  margin-left: 10%;
}

.icon-tuodong{
  font-size: 1.0em;
}



/*面板类型选择*/
.formLayoutType-plane{
  border-top:1px solid #ececec;
  border-bottom:1px solid #cccccc;
  height: 35px;
  font-size: 0.7em;
  margin-top: 0.3em;
  padding-left: 2em;
}

.formLayoutType-plane>div{
  display:inline-block;
  height: 100%;
  line-height: 35px;
}

.formLayoutType-select select{
  margin-bottom: 0.35em;
  font-weight: bold;
  width: 125px;
  text-align:center;
  border:1px solid #e6e6e6;
}




/*========表单控件样式========*/
.am-form-custom{
  padding: 1em;
  height: 100%;
}

.am-form-custom button,
.am-form-custom select,
.am-form-custom textarea,
.am-form-custom>div,
.am-form-custom input{
  /*
  margin-bottom: 0.4em;
  margin: 0 0.1em 0.4em 0.1em;*/
  flex-grow: 1;
  flex-shrink:1;
  cursor: pointer;
  margin: 0.2em;
}

.am-form-custom input{
  flex-basis: 16%;
}

.am-form-custom .label{

  line-height: 35px;
  padding: 0 0.4em;
  color: #35495e;
  font-size: 0.9em;
  cursor: pointer;
  position:relative;
  top: 0px;
  left: 0px;
  font-weight: bold;

}

.am-form-custom label{
  flex-grow: 0;
  flex-shrink:0;
  line-height: 35px;
  padding: 0 0.4em;
  color: #35495e;
  font-size: 0.9em;
  cursor: pointer;
  position:relative;
  top: 0px;
  left: 0px;
  display:block;
}

/*========面板样式========*/

/*行排列*/

.am-form-custom .create-item-row{
  display:flex;
  flex-direction:row;
  justify-content:start;
  align-content:center;
  flex-wrap: wrap;
  margin-bottom: 0.1em;
}

.am-form-custom .item-row{
  display:flex;
  flex-direction:row;
  justify-content:start;
  align-content:center;
  flex-wrap: wrap;
}

/*列排列*/
.am-form-custom .item-colum{
  display:flex;
  flex-direction:column;
  margin-bottom: 0.1em;
}

.am-form-custom .create-item-colum{
  display:flex;
  flex-direction:column;
}

.am-form-custom .create-item-row,
.am-form-custom .create-item-colum{
  margin-bottom: 0.1em;
  position:relative;
  top: 0px;
}


.am-form-custom .item-row,
.am-form-custom .item-colum{
  margin-bottom: 1em;
  position:relative;
  top: 0px;
}

.am-form-custom .item-colum::after,
.am-form-custom .item-colum::before,
.am-form-custom .item-row::after,
.am-form-custom .item-row::before{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:absolute;
  color: #c3c3c3;
  top: -1px;
  left:4px;
  content: "\e66c";
}

/*只有编辑模式才有的样式*/
.am-form-custom .item-row,
.am-form-custom .item-colum{
  margin-bottom: 1em;
  border:1px dashed #d2d2d2;
  padding: 1.3em 0.4em 1.3em 0.4em;
}

.item-option-colum{

}

/*form的属性面板*/

.formOptionPlane{
  position: relative;
  top: 1.2em;
  left:1em;
  /*height: 80%;*/
  background-color:white;
  float:left;
  box-shadow: 0px 0px 20px -5px gray;
  padding: 1em;

}

.am-form-option{

}

.option-content{
  margin-top: 2em;
}

.am-form-option .item-option-row{
  display:flex;
  flex-direction:row;
  justify-content:start;
  align-content:center;
  /*flex-wrap: wrap;*/
  margin:0.8em auto;
}

.am-form-option .item-option-colum{
  display:flex;
  flex-direction:column;
  margin:1em auto;
}

.form-unclick{
  cursor:not-allowed;
  color:#cdcdcd;
}
.form-unclick:visited,
.form-unclick:link,
.form-unclick:focus,
.form-unclick:active,
.form-unclick:hover{
  color: #cdcdcd!important;
}

/*拖拽参考线*/
.form-helpLine-x{
  position:absolute;
  height: 100%;
  left: 3px;
  width:1px;
  border:1px dashed #0e90d2;
  display: block;
  opacity: 0;
}
.form-helpLine-y{
  position:absolute;
  height: 1px;
  left: 0px;
  width:100%;
  border:1px dashed #0e90d2;
  display: block;
  opacity: 0;
}


.form-delete{
  position:absolute;
  right: 20px;
  bottom: 80px;
  width: 60px;
  z-index: 12;
}

.form-delete-wrap{
  position:fixed;
  text-align:center;
  width: 60px;
  height: 60px;
  background-color: #ed2c33;
  color: white;
  border-radius: 100px;
  text-align:center;
  line-height: 58px;
  transition: all 0.3s;
}

.form-delete i{
  font-size: 1.6em;
}

.form-delete-wrap:active{
  transform: scale(1.4,1.4);
}


.form-btn{


  padding: 5px;
  position:relative;
  top:0.5em;
  display: block;
  margin-left: 1em;
  margin-right: 1em;
  border: 2px dotted #eeeeee;

}
.form-btn>div{
  display:inline-block;
  width: 40px;
  height: 40px;
  background-color: blue;
  cursor:pointer;
  color: white;
  margin-bottom: 0.3em;
  background-color: #eb4343;
  border-radius: 5px;
  /*
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  */
  box-shadow: 1px 1px 13px -4px black;


  text-align:center;
}
.form-btn i{
  /*font-size: 1.6em;*/
}

.icon-biaodanyemian{}
.icon-721bianjiqi_qingkongwendang{}

/*拖拽时的样式*/
.custom-dragClass{
  display:block;
  padding:1rem 0;
  padding-left:24px;
  background-color:white;
}

.admin-content-body::after{
  content:"";
  display:block;
  clear: both;
}

.custom-form-editMask{
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px dashed gray;
  background-color: white;
  z-index: 3;
  background:rgba(255,255,255, 0.6);
}

.custom-form-editPlane{
  position:relative;
  top: 0px;
  left: 0px;
  padding: 0.4em;
  margin: 0.3em;
  display:inline-block;

  flex-grow: 1;
  flex-grow: 1;
  flex-shrink:1;
  cursor: pointer;
  flex-basis: 15%;
}
/*.custom-form-editPlane*/

/*自定义提示样式*/
.notie-overlay{
  z-index: 999;
}
.notie-container{
  z-index: 1000;
}
/*自定义弹出框样式*/
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown),
html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){
  height: 100%;
  overflow: auto;
}

.swal2-modal{
  box-shadow: 1px 1px 14px -3px gray;
  /*border: 8px solid #eeeeee;*/
  background-color:white;
}

.swal2-container.swal2-shown{
  background-color: rgba(0,0,0,.1);
}



.btn-bottom{
  position:absolute;
  bottom: 0px;
  left: 0.05em;
  width: 98%;
}
