<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Auto Form</title>
  <meta name="description" content="表单生成">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="apple-touch-icon-precomposed" href="ui/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="ui/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="ui/assets/css/admin.css">

  <link rel="stylesheet" href="css/iconfont.css?v=1" />
  <style type="text/css">
    /*==========覆盖部分默认样式==========*/
    a{
      cursor: pointer;
    }

    html{
      width: 100%;
      height: 100%;
    }

    body{
      background-image: url('content/projectImage/bg.png');
      font-family: 微软雅黑;
    }

    .admin-sidebar{
      overflow: hidden;
    }

    .am-nav-tabs{
      margin-top: 0.6em;
      margin-left: 0.5em;
    }

    .am-topbar-customer{
      background-color: #ed2c33;
      border-color:#da1b22;
      color:#eee;
    }
    .admin-sidebar-list li div{
      display: block;
      padding: 1rem 0;
      cursor:pointer;
      color: #5c5c5c;
      padding-left: 24px;
    }

    *+.am-alert{
      margin: 0px;
    }

    /*==========拖拽面板样式==========*/
    .admin-content-body{
      background-color: #fafafa;
      height: 30%;

    }

    /*==========面板Size类型样式==========*/
    .formContent-default{
      width: 414px;
      height: 736px;
      border-radius: 0px;
      background-color: white;
      box-shadow: 0px 0px 22px -8px black;
      position:relative;
      top:0px;
      overflow:auto;
      transition: all 0.5s;
      float:left;
      margin-top: 2em;
      margin-left: 2em;
    }

    .formLayoutType-select{
      margin-right: 2em;
    }

    .form-tip-group{
      display: table;
      text-align:center;
      font-size: 1.2em;
      color: #dfdfdf;
      height: 100%;
      width: 100%;
    }

    .form-tip{
      display:table-cell;
      vertical-align:middle;
      text-align:center;
    }

    .form-tip-border{
      border: 1px dashed #eeeeee;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width:80%;
      margin-left: 10%;
    }

    .icon-tuodong{
      font-size: 1.0em;
    }



    /*面板类型选择*/
    .formLayoutType-plane{
      border-top:1px solid #ececec;
      border-bottom:1px solid #cccccc;
      height: 35px;
      font-size: 0.7em;
      margin-top: 0.3em;
      padding-left: 2em;
    }

    .formLayoutType-plane>div{
      display:inline-block;
      height: 100%;
      line-height: 35px;
    }

    .formLayoutType-select select{
      margin-bottom: 0.35em;
      font-weight: bold;
      width: 125px;
      text-align:center;
      border:1px solid #e6e6e6;
    }




    /*========表单控件样式========*/
    .am-form-custom{
      padding: 1em;
      height: 100%;
    }

    .am-form-custom button,
    .am-form-custom select,
    .am-form-custom textarea,
    .am-form-custom>div,
    .am-form-custom input{
      margin-bottom: 0.4em;
      margin: 0 0.1em 0.4em 0.1em;
      flex-grow: 1;
      flex-shrink:1;
      cursor: pointer;
    }

    .am-form-custom input{
      flex-basis: 15%;
    }

    .am-form-custom label{
      flex-grow: 0;
      flex-shrink:0;
      line-height: 35px;
      margin: 0 0.4em;
      color: #35495e;
      font-size: 0.9em;
      cursor: pointer;
      display:block;
    }

    /*========面板样式========*/

    /*行排列*/
    .am-form-custom .item-row{
      display:flex;
      flex-direction:row;
      justify-content:start;
      align-content:center;
      flex-wrap: wrap;
    }

    /*列排列*/
    .am-form-custom .item-colum{
      display:flex;
      flex-direction:column;
    }

    .am-form-custom .item-row,
    .am-form-custom .item-colum{
      margin-bottom: 1em;
      position:relative;
      top: 0px;
    }

    .am-form-custom .item-colum::after,
    .am-form-custom .item-colum::before,
    .am-form-custom .item-row::after,
    .am-form-custom .item-row::before{
      font-family:"iconfont" !important;
      font-size:16px;
      font-style:normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position:absolute;
      color: #c3c3c3;
      top: -1px;
      left:4px;
      content: "\e6a8";
    }

    /*只有编辑模式才有的样式*/
    .am-form-custom .item-row,
    .am-form-custom .item-colum{
      margin-bottom: 1em;
      border:1px dashed #d2d2d2;
      padding: 1.3em 0.4em 1.3em 0.4em;
    }

    .item-option-colum{

    }

    /*form的属性面板*/

    .formOptionPlane{
      position: relative;
      top: 2em;
      left:1em;
      height: 80%;
      background-color:white;
      float:left;
      box-shadow: 0px 0px 20px -5px gray;
      padding: 1em;

    }

    .am-form-option{

    }

    .option-content{
      margin-top: 2em;
    }

    .am-form-option .item-option-row{
      display:flex;
      flex-direction:row;
      justify-content:start;
      align-content:center;
      flex-wrap: wrap;
      margin:0.8em auto;
    }

    .am-form-option .item-option-colum{
      display:flex;
      flex-direction:column;
      margin:1em auto;
    }

    .form-unclick{
      cursor:not-allowed;
      color:#cdcdcd;
    }
    .form-unclick:visited,
    .form-unclick:link,
    .form-unclick:focus,
    .form-unclick:active,
    .form-unclick:hover{
      color: #cdcdcd!important;
    }

    /*拖拽参考线*/
    .form-helpLine-x{
      position:absolute;
      height: 100%;
      left: 3px;
      width:1px;
      border:1px dashed #0e90d2;
    }
    .form-helpLine-y{
      position:absolute;
      height: 1px;
      left: 0px;
      width:100%;
      border:1px dashed #0e90d2;
    }

  </style>
</head>
<body>

<header class="am-topbar am-topbar-customer admin-header">
  <div class="am-topbar-brand">
    <strong>Auto Form</strong> <small>表单生成器</small>
  </div>
</header>

<div id="autoForm" class="am-cf admin-main">

  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
      <li v-for="plane in formMap">
          <a  class="am-cf" data-am-collapse="{target: '#collapse-nav'}">
            <span :class="plane.icon"></span>
              {{plane.title}}
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in">
              <li draggable="true" :data-type="menuType"  ondragstart="dropEventBus.dragStart(event)"  v-for="(menu,menuType) in plane.controlMap">
                <div class="am-cf"><span :class="menu.icon"></span>
                  {{menu.title}}
                </div>
              </li>
          </ul>
      </li>

        <div class="am-panel am-panel-default admin-sidebar-panel">
          <div class="am-panel-bd">
            <p><span class="am-icon-bookmark"></span> 使用方法</p>
            <p>1.请先添加面板控件。</p>
            <p>2.再拖动表单控件。</p>
          </div>
        </div>
      </ul>

    </div>
  </div>
  <!-- sidebar end -->

<!-- content start -->
<div class="admin-content">

  <div class="admin-content-body">

    <div class="formLayoutType-plane" id="formLayoutType-plane">
      <div class="formLayoutType-select">
        <select v-model="layout.itemSelect" @change="layoutChange">
          <option  v-for="(sizeItem,key) in layout.layoutItems" :value="key" >{{key}}</option>
        </select>
      </div>
      <div class="formLayoutType-size">{{layout.currentSize.width}} * {{layout.currentSize.height}}</div>
    </div>

    <div class="am-alert am-alert-danger" style="display:none;">
      请不然要输出这样的值。
    </div>

    <div id="js-formDragPlane" ondragover="dropEventBus.dragOver(event)" ondrop="dropEventBus.dragEvent(event)" :style="layoutStyle" class="formContent-default" >
      <div id="js-helpLine-x" class="form-helpLine-x" style=""></div>
      <div id="js-helpLine-y" class="form-helpLine-y" style=""></div>
      <form id="js-form" data-level="0" class="am-form-custom">
   <!--
   <div draggable="true" ondragstart="dropEventBus.dragStart(event)" class="item-row">
       <label draggable="true" ondragstart="dropEventBus.dragStart(event)">密码邮件:</label>
       <input  type="email"  class="am-form-field" placeholder="电子邮件" data-form-un="1516000411279.6406">
       <label>-</label>
       <input  type="email" class="am-form-field" placeholder="电子邮件" data-form-un="1516000411279.6406">
       <label>-</label>
       <input  type="email" class="am-form-field" placeholder="电子邮件" data-form-un="1516000411279.6406">
   </div>

   <div class="item-row">
       <label>密码邮件:</label>
       <input  type="email"  class="am-form-field" placeholder="电子邮件" data-form-un="1516000411279.6406">
       <label>性别:</label>

       <select>
         <option value="">苹果</option>
         <option value="">香蕉</option>
         <option value="">橙子</option>
       </select>
   </div>

   <div class="item-colum">

   </div>

   <div class="item-row">
     <label>选择一样水果:</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label><input type="checkbox"> 香蕉</label>
     <label><input type="checkbox" value="cool"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
   </div>

   <div class="item-row">
     <label>选择一样水果:</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label><input type="checkbox"> 香蕉</label>
     <label><input type="checkbox" value="cool"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
   </div>

   <div class="item-row">
     <label>选择一样水果:</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label><input type="checkbox"> 香蕉</label>
     <label><input type="checkbox" value="cool"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
   </div>


   <div class="item-row">
     <label>选择一样水果:</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label><input type="checkbox"> 香蕉</label>
     <label><input type="checkbox" value="cool"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
   </div>


   <div class="item-row">
     <label>选择一样水果:</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label draggable="true" ondragstart="dropEventBus.dragStart(event)"><input draggable="true" ondragstart="dropEventBus.dragStart(event)" type="checkbox"> 苹果</label>
     <label><input type="checkbox"> 香蕉</label>
     <label><input type="checkbox" value="cool"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
     <label><input type="checkbox"> 橙子</label>
   </div>
    -->



</form>
<!--
<form class="am-form-custom am-form-inline" role="form">
  <div class="am-form am-form-group">
      <label for="doc-ipt-pwd-2" >密码</label>
    <input type="email" class="am-form-field" placeholder="电子邮件" data-form-un="1516000411279.6406">
  </div>&nbsp;
  <div class="am-form-group">
    <label for="doc-ipt-pwd-2" >密码</label>
    <input type="password" class="am-form-field" placeholder="密码" data-form-pw="1516000411279.6406"></div>&nbsp;
  <div class="am-checkbox">

  <label>

    <input type="checkbox"> 记住我</label></div>&nbsp;
    <button type="submit" class="am-btn am-btn-default" data-form-sbm="1516000411279.6406" style="pointer-events: auto;">登录</button>
  </form>

<form class="am-form am-form-inline" role="form"><div class="am-form-group"><label for="doc-ipt-3" class="am-u-sm-2 am-form-label">电子邮件</label><div class="am-u-sm-10"><input type="email" id="doc-ipt-3" placeholder="输入你的电子邮件" data-form-un="1516000411278.0627"></div></div>
  <div class="am-form-group">
    <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">密码</label>
    <div class="am-u-sm-10">
      <input type="password" id="doc-ipt-pwd-2" placeholder="设置一个密码吧" data-form-pw="1516000411278.0627"></div>
    </div><div class="am-form-group">
      <div class="am-u-sm-offset-2 am-u-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> 记住十万年</label>
        </div>
      </div>
    </div>
    <div class="am-form-group">
      <div class="am-u-sm-10 am-u-sm-offset-2">
        <button type="submit" class="am-btn am-btn-default" data-form-sbm="1516000411278.0627" style="pointer-events: auto;">提交登入</button>
      </div>
    </div>
  </form>
-->
    <!--
      <div class="form-tip-group">
        <div class="form-tip">
          <div class="form-tip-border"> <span class="iconfont icon-tuodong"></span>
          请从菜单拖拽面板控件到此
          </div>
        </div>
      </div>
    -->
    </div>


    <div id="js-formOptionPlane" class="formOptionPlane">
      <ul class="am-nav am-nav-tabs">
        <li class="am-active"><a href="#">控件属性</a></li>
        <li><a href="#">验证属性</a></li>
        <li><a class="form-unclick" disabled="true" href="#">数据源</a></li>
        <li><a class="form-unclick" disabled="true" href="#">自定义属性</a></li>
      </ul>
      <div class="option-content">

        <form class="am-form-option">
          <div class="item-option-colum">
              <label>name:</label>
              <input  type="email"   class="am-form-field" placeholder="name属性" data-form-un="1516000411279.6406">
          </div>

          <div class="item-option-colum">
              <label>placeholder:</label>
              <input  type="email"  class="am-form-field" placeholder="placeholder属性" data-form-un="1516000411279.6406">
          </div>

          <div class="item-option-colum">
              <label>type:</label>
              <select>
                <option value="">text</option>
                <option value="">number</option>
                <option value="">email</option>
                <option value="">number</option>
              </select>
          </div>
        </form>

        <div style="text-align:center; margin-top:2em;" id="js-formOptionSave">
            <button type="button" class="am-btn am-btn-primary am-radius am-btn-block">修改</button>
        </div>
      </div>
        <!--
        <h4>验证属性</h4>
        <hr></hr>

        <h4>数据源</h4>
        <hr></hr>

        <h4>自定义属性</h4>
        <hr></hr>
        -->
    </div>
  </div>


  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 2018 表单生成器.</p>
  </footer>

</div>

</div>

<a href="#"  class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>



<footer>
  <hr>
  <p class="am-padding-left">© 2018 表单生成器.</p>
</footer>



<!--
<script src="ui/assets/js/jquery.min.js"></script>

<script src="ui/assets/js/amazeui.min.js"></script>
<script src="ui/assets/js/app.js"></script>
-->

<script src="scripts/vue/vue.js"></script>
<script src="scripts/requirejs/require.js"></script>

<script type="text/javascript">




var formMap={
  layout:{
    title:"面板",
    icon:"iconfont icon-novigo_layout",
    enable:true,
    controlMap:
    {
      "row":{
        title:"行面板",
        el:"div",
        attr:{
          class:"item-row"
        },
        dataAttrs:{
          level:1
        },
        icon:"iconfont icon-hang",
        enable:true,
      },
      "col":{
        title:"列面板",
        el:"div",
        attr:{
          class:"item-colum",
        },
        dataAttrs:{
          level:1
        },
        icon:"iconfont icon-lie",
        enable:true,
      }
    }
  },
  formControl:
  {
    title:"表单",
    icon:"iconfont icon-lingjianxiangqing",
    enable:true,
    controlMap:{
      "label":{
        title:"描述",
        el:"label",
        dataAttrs:{
          level:2
        },
        icon:"iconfont icon-lingjianxiangqing",
        enable:true,
      },
      "input":{
        title:"文本框",
        el:"input",
        attr:{
          type:"text"
        },
        dataAttrs:{
          level:2
        },
        icon:"iconfont icon-lingjianxiangqing",
        enable:true,

      },
      "radio":{
        title:"单选框",
        el:"input",
        wrap:"label",
        attr:{
          type:"radio",
        },
        dataAttrs:{
          level:2
        },
        icon:"iconfont icon-danxuankuangxuanzhong",
        enable:true,

      },
      "checkbox":{
        title:"多选框",
        el:"input",
        wrap:"label",
        attr:{
          type:"checkbox",
        },
        dataAttrs:{
          level:2
        },
        icon:"iconfont icon-icon192",
        enable:true,

      },
      "select":{
        title:"下拉框",
        el:"select",
        icon:"iconfont icon-xialakuang",
        enable:true,
        dataAttrs:{
          level:2
        }
      },
      /*
      "timepicket":{
        title:"时间选择",
        el:"input",
        icon:"iconfont icon-riqixuanze",
        enable:true,
        dataAttrs:{
          level:2
        }

      },
      */
      "multiline":{
        title:"多行文本",
        el:"textarea",
        icon:"iconfont icon-kongjian-duohangshurukuang",
        enable:true,
        dataAttrs:{
          level:2
        }

      },
      "file":{
        title:"文件上传",
        el:"textarea",
        attr:{
          type:"file",
        },
        dataAttrs:{
          level:2
        },
        icon:"iconfont icon-uploadPic",
        enable:true,


      },
      "submit":{
        title:"提交",
        el:"input",
        attr:{
          type:"submit",
        },
        dataAttrs:{
          level:2
        },
        icon:"iconfont icon-anniu",
        enable:true,

      },
      "button":{
        title:"按钮",
        el:"input",
        attr:{
          type:"button",
        },
        dataAttrs:{
          level:2
        },
        icon:"iconfont icon-anniu",
        enable:true,

      }

    }
  }
}

var vueFormMap=_cloneObj(formMap);


/*
var customScroll = new scrollbot("#js-formDragPlane");
customScroll.setStyle({
  'background':'#000',
  'border-radius':'20px'
},{
  'background':'#fff',
  'opacity':'.5'
})
*/

var layout={
  itemSelect:"iphone 6 Plus",
  layoutStyle:{},
  defaultDom:"",
  currentSize:{
    width:414,
    height:736
  },
  layoutItems:{
    "iphone 5":{
      width:320,
      height:560
    },
    "iphone 6":{
      width:375,
      height:667
    },
    "iphone 6 Plus":{
      width:414,
      height:736
    },
    "iPad":{
      width:768,
      height:1024
    }
  }
}


/**
 * 拖拽事件广播（EventBus）
 * @return {object} 拖拽事件广播对象
 */
var dropEventBus=(function(){
    var ErrorMes={
      "5001":"该事件已注册"
    };

    var dragParam={
       dragKey:""
    };

    var dragEvent={
      StartRegEvent:{},
      OverRegEvent:{},
      EndRegEvent:{}
    };

    function _regDragEvent(regName,eventName,fn) {
      if(dragEvent[regName][eventName]!==undefined){
        throw ErrorMes["5001"];
        return;
      }
      dragEvent[regName][eventName]=fn;
    }

    function _unbindDragEvent(regName,eventName) {
      delete dragEvent[regName][eventName];
    }

    function _runDragEvent(regName,event) {
      var currentDragEvent=dragEvent[regName];
      for(var eventName in currentDragEvent){
        currentDragEvent[eventName].call(this,event);
      }
    }

    function regStartEvent(eventName,fn){
        _regDragEvent("StartRegEvent",eventName,fn);
    }

    function regOverEvent(eventName,fn) {
        _regDragEvent("OverRegEvent",eventName,fn);
    }

    function regEndEvent(eventName,fn){
        _regDragEvent("EndRegEvent",eventName,fn);
    }

    function unbindStartEvent(eventName) {
        _unbindDragEvent("StartRegEvent",eventName);
    }

    function unbindOverEvent(eventName) {
        _unbindDragEvent("OverRegEvent",eventName);
    }

    function unbindEndEvent(eventName) {
        _unbindDragEvent("EndRegEvent",eventName);
    }
    function setDragKey(key,val) {
      dragParam[key]=val;
    }
    function getDragKey(key){
      return dragParam[key];
    }


    return{
      regStartEvent:regStartEvent,
      regOverEvent:regOverEvent,
      regEndEvent:regEndEvent,
      unbindStartEvent:unbindStartEvent,
      unbindOverEvent:unbindOverEvent,
      unbindEndEvent:unbindEndEvent,
      setDragKey:setDragKey,
      getDragKey:getDragKey,

      dragStart:function(e){

        _runDragEvent("StartRegEvent",e);

      },

      dragOver:function(e){
        _runDragEvent("OverRegEvent",e);
        e.preventDefault();
      },

      dragEvent:function(e){
        _runDragEvent("EndRegEvent",e);
        e.preventDefault();
      }

    };

})();


/*
{

  dragStart:function(e){
    console.log("开始拖拽",e);
    e.dataTransfer.setData("Text","hellow");
  },
  dragOver:function(e){
    console.clear();
    console.log("拖拽中",e);
    e.preventDefault();
  },
  dragEvent:function(e){
    e.preventDefault();
    console.log("拖拽结束",e);
    var id=e.path[0].getAttribute("id");
    var className=e.path[0].getAttribute("class");
    console.log("id:",id,"class:",className);
    //console.log(e.path[0],e);
  }
}
*/


var amazeUI={
    "input":{
      className:"am-form-field"
    },
    "select":{

    },
    "button":{
      className:"am-btn am-btn-secondary"
    },
    "submit":{
      className:"am-btn am-btn-success"
    }
}

/*遇到的问题，js的每个函数都是独立的作用域？*/

/*辅助线工具*/
var helpLine=(function(){
   /*
    var hlObj={
      xLine:document.getElementById("js-helpLine-x"),
      yLine:document.getElementById("js-helpLine-y")
    }
  */

    function _display(obj,type) {

      if(type=="show"){
        obj.style.display="block";
      }else{
        obj.style.display="none";
      }
    }

    function _xHide() {
      _display(hlObj.xLine,"none");
    }

    function _xShow(){
       _display(hlObj.xLine,"show");
    }

    function _yHide(){
      _display(hlObj.yLine,"none");
    }

    function _yShow(){
      _display(hlObj.show,"none");
    }

    function _xLineSetX(val){
      document.getElementById("js-helpLine-x").setAttribute("style","left:"+val+"px");
    }

    function _xLineSetY(val){

    }

    function _yLineSetX(val){

    }

    function _yLineSetY(val){

    }



    return {
      x:{

        setX:_xLineSetX,
        setY:_xLineSetY,
        hide:_xHide,
        show:_xShow
      },
      y:{
        setX:_yLineSetX,
        setY:_yLineSetY,
        hide:_yHide,
        show:_yShow
      }
    }

})();




/*动态表单上下文对象*/
var formContext=(function(){


    var dragVerify={
      basePlane:['row','col']
    };

    dropEventBus.regStartEvent("contextDropStart",function(e){

      var currentDragDom=e.srcElement;
      var currentControlType=currentDragDom.dataset.type;
      e.dataTransfer.setData("text",currentControlType);
      dropEventBus.setDragKey("controlType",currentControlType);
    });

    dropEventBus.regOverEvent("contextDropOver",function(e){
      //console.log("这是注册的contextDropOver");
      //console.log(e);
      console.log(e);
      var currentDragDom=e.target;
      var dragPlane=e.toElement;
      var dragPlaneLevel=parseInt(dragPlane.dataset.level);
      var dragPlaneWidth=dragPlane.clientWidth;
      var dragPosition={
        x:e.offsetX,
        y:e.offsetY
      }

      /*获取控件类型以及生成对应的dom,以及对应的控件深度。*/
      var dragDomType=dropEventBus.getDragKey("controlType");
      console.log("types:",dragDomType);

      var formMapObj=_findObjVal(formMap,dragDomType);
      var formControlObj=formCreatorFactory.create(formMapObj,dragDomType);
      var formlevel=parseInt(formControlObj.formDom.dataset.level);
      var formControlId=dragPlane.dataset.controlid;
      /*添加表单元素操作*/
      if(dragPlaneLevel-formlevel===-1||dragPlaneLevel-formlevel===1){
        //dragPlane.innerHTML=dragPlane.innerHTML+formControlObj.formHtml;
      }/*添加表单元素前或后操作*/
      else if(dragPlaneLevel-formlevel===0){
        console.log(dragPosition.x-(dragPlane.clientWidth/2));
        /*元素后方插入*/
        if(dragPosition.x-(dragPlane.clientWidth/2)>=0){
            console.log(dragPlane.clientWidth);
             helpLine.x.setX(dragPlane.clientWidth+18+dragPlane.offsetLeft);

        /*元素前方插入*/
      }else if(dragPosition.x-(dragPlane.clientWidth/2)<0){
           helpLine.x.setX(dragPlane.offsetLeft+16);
      }



        //dragPlane.parentNode.innerHTML=dragPlane.parentNode.innerHTML+formControlObj.formHtml;
      }




    });

    dropEventBus.regEndEvent("contextDropEnd",function(e){
      /*获取拖拽对象*/
      var currentDragDom=e.target;
      var dragPlane=e.toElement;

      //console.log(dragPlane);
      var dragPlaneLevel=parseInt(dragPlane.dataset.level);
      var dragPlaneWidth=dragPlane.clientWidth;
      var dragPosition={
        x:e.offsetX,
        y:e.offsetY
      }


      /*获取控件类型以及生成对应的dom,以及对应的控件深度。*/
      var dragDomType=e.dataTransfer.getData("text");
      var formMapObj=_findObjVal(formMap,dragDomType);
      var formControlObj=formCreatorFactory.create(formMapObj,dragDomType);
      var formlevel=parseInt(formControlObj.formDom.dataset.level);
      var formControlId=dragPlane.dataset.controlid;

      /*
      console.log(e);
      console.log("formlevel:",formlevel,"dragPlaneLevel:",dragPlaneLevel);
      console.log(currentDragDom.id);
      console.log("formHtml:",formControlObj.formHtml);
      console.log("allHtml:",dragPlane.innerHTML+formControlObj.formHtml);
      */
      /*添加表单元素操作*/
      if(dragPlaneLevel-formlevel===-1||dragPlaneLevel-formlevel===1){
        dragPlane.appendChild(formControlObj.formDom);
        //dragPlane.innerHTML=dragPlane.innerHTML+formControlObj.formHtml;
      }/*添加表单元素前或后操作*/
      else if(dragPlaneLevel-formlevel===0){

        console.log("x:",dragPosition.x,"aftetX:",dragPosition.x-(dragPlane.clientWidth/2));
        var insertObj={
          newDom:formMapObj,
          controlId:formControlId
        }

        /*元素前方插入*/
        if(dragPosition.x-(dragPlane.clientWidth/2)>=0){
          console.log("后方插入");
          console.log(insertObj);
          formCreatorFactory.append(insertObj,dragDomType);
          console.log(dragPlane.clientWidth);

        /*元素后方插入*/
      }else if(dragPosition.x-(dragPlane.clientWidth/2)<0){
          console.log("前方插入");
          formCreatorFactory.before(insertObj,dragDomType);

      }


        //dragPlane.parentNode.innerHTML=dragPlane.parentNode.innerHTML+formControlObj.formHtml;
      }

      /*拖入面板的操作*/
      if(dragPlaneLevel==="0"){
        /*1为面板的深度*/
        if(formlevel==="1"){

        }
      }


      /*拖入控件的操作*/
      else if(dragPlaneLevel=="1"){

        //dragPlane.innerHTML=dragPlane.innerHTML+formControlObj.formHtml;
      }

      //console.log("添加的控件值",dragPlane);


      //console.log("对象的值",dragPlane.innerHTML);
      //console.log("这是注册的contextDropEnd");

      //console.log(textId);
      //console.log(e);

    });

})();



/**
 * 表单生成工厂
 * 主要负责生成表单元素，以及
 * @return {[object]} [工厂方法]
 */
var formCreatorFactory=(function(){

    /*错误提示对象*/
    var errorMes={
      "4001":"未知元素",
      "4101":"未能获取要被修改的dom元素"
    }

    /*设置对象的attr属性*/
    var _setAttr=function(option,dom,attrListName,isDataAttr){
      var prefix="";
      if(option[attrListName]===undefined){
        return;
      }
      if(isDataAttr){
        prefix="data-";
      }
      for(attrName in option[attrListName]){
        dom.setAttribute(prefix+attrName,option[attrListName][attrName]);
      }
    };


    /*设置拖拽事件*/
    var _setDropEvent=function(dom){
        dom.setAttribute("draggable",true);
        dom.setAttribute("ondragstart","dragStart(event)");
    }

    /*设置控件的唯一ID*/
    var _setOnlyId=function(dom){
        var controlId=dom.localName+"_"+Date.parse(new Date());
        dom.setAttribute("data-controlId",controlId);
    }

    /*设置控件的html字符串*/
    var _wrapInnerHtmlStr=function(dom){
        var wrapDom=document.createElement("div");
        wrapDom.appendChild(dom);
        return wrapDom;
    }

    /*设置控件Ui的Class*/
    var _setUiClass=function(controlType,dom){
        if(amazeUI[controlType]===undefined){
          return;
        }
        //console.log(controlType);
        var uiClass=amazeUI[controlType]["className"];
        dom.setAttribute("class",uiClass);
    }

    /*设置特殊控件的函数*/
    var _setSpecial={
      "label":function(controlType,dom){
        dom.innerHTML=controlType;
      }
    }

    /*创建表单元素*/
    var _create=function(option,type){
      var wrapDom,formDom;
      if(option.el===undefined){
        throw errorMes["4001"];
      }

      formDom=document.createElement(option.el);
      _setAttr(option,formDom,"attr",false);
      _setUiClass(type,formDom);

      if(option.wrap!==undefined){
          wrapDom=document.createElement(option.wrap);
          wrapDom.appendChild(formDom);
          wrapDom.innerHTML=wrapDom.innerHTML+option.attr.type;
          formDom=wrapDom;
      }

      if(_setSpecial[type]!==undefined&&typeof(_setSpecial[type])==="function"){
        _setSpecial[type](type,formDom);
      }

      _setAttr(option,formDom,"dataAttrs",true);
      _setDropEvent(formDom);
      _setOnlyId(formDom);

      var innerHtmlStr=_wrapInnerHtmlStr(formDom).innerHTML;

      return {
        formDom:formDom,
        formHtml:innerHtmlStr
      };
    }


    /*获取需要改动的dom元素*/
    var _getChangeDom=function(option,type){

      var changeDom={
        targetDom:document.querySelector("[data-controlId='"+option.controlId+"']") //document.getElementById(option.controlId)
      };

      if(option.newDom!==undefined){
          changeDom.formDom=_create(option.newDom,type).formDom;
      }

      else if(option.controlId!==undefined){
          changeDom.formDom=document.querySelector("[data-controlId='"+option.controlId+"']"); //_create(option.newDom);
      }

      if(changeDom.formDom===undefined){
        throw ["4101"];
      }

      return changeDom;
    }

    /*创建表单元素*/
    var createContext=function(option,type){
        return _create(option,type);
    }

    //var createContext=function()

    /*追加表单元素到目标元素之后*/
    var appendContext=function(option,type){
        var changeDom=_getChangeDom(option,type);
        _insertAfter(changeDom.formDom,changeDom.targetDom);
    }

    /*追加元素到目标元素之前*/
    var beforeContext=function(option,type){
        var changeDom=_getChangeDom(option,type);
        changeDom.targetDom.parentNode.insertBefore(changeDom.formDom,changeDom.targetDom);
    }

    return{
      create:createContext,
      append:appendContext,
      before:beforeContext
    }

})(window,document);


/**
 * 表单属性工厂
 * @return {[object]} 属性对象
 */
var formOptionFactory=(function(){
    return{
      update:null
    };
})();


  /**
   * 根据key值查找对象的值
   * @param       {object} targetObj 目标对象
   * @param       {object} keyName   查找的键值对
   * @return      {object}           返回对应的值
   */
  function _findObjVal(targetObj,keyName) {
    var _obj;
    for(var key in targetObj){

      if(key==keyName){
        _obj=targetObj[key];
        return _obj;
      }

      else if(typeof(targetObj[key])==="object"){
        _obj=_findObjVal(targetObj[key],keyName);
        if(_obj!==undefined){
          return _obj;
        }
      }
    }
    return _obj;
  }

  /**
   * 对象元素深拷贝（只支持值类型和对象类型，暂未支持兼容数组）。
   * @param       {[object]} targetObj 拷贝对象
   * @constructor
   * @return      object           完成拷贝的新的对象
   */
  function _cloneObj(targetObj){
    var _obj={};
    for(var key in targetObj){
      if(typeof(targetObj[key])==="object"){
        _obj[key]=_cloneObj(targetObj[key]);
      }
      else{
        _obj[key]=targetObj[key];
      }
    }
    return _obj;
  }

  /**
   * 映射对象值
   * @param       {[object]} targetObj 映射目标
   * @param       {[object]} mapObj    被映射对象
   * @constructor
   * @return      {[object]}           映射完成的对象
   */
  function _objMapTo(targetObj,mapObj) {
    for(var key in  targetObj){
      targetObj[key]=mapObj[key];
    }
    return targetObj;
  }

  function _insertAfter(newElement, targetElement){
    console.log("添加的元素是：",newElement);
    var parent = targetElement.parentNode;
    if (parent.lastChild == targetElement) {
    // 如果最后的节点是目标元素，则直接添加。因为默认是最后
      parent.appendChild(newElement);
    }
    else {
      parent.insertBefore(newElement, targetElement.nextSibling);
    //如果不是，则插入在目标元素的下一个兄弟节点 的前面。也就是目标元素的后面
    }
  }




    new Vue({
      el:"#autoForm",
      data:{
        formMap:vueFormMap,
        layout:layout,
        layoutStyle:{}
      },
      methods:{
        layoutChange:function(event){
          var layoutVal=event.target.value;
          var layoutObj=this.layout.layoutItems[layoutVal];

          this.layoutStyle={
            width:layoutObj.width+"px",
            height:layoutObj.height+"px"
          };

        _objMapTo(this.layout.currentSize,layoutObj);

        }
      }
    });


</script>


</body>
</html>
