<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Auto Form</title>
  <meta name="description" content="表单生成">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="apple-touch-icon-precomposed" href="ui/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="ui/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="ui/assets/css/admin.css">


  <style type="text/css">
    a{
      cursor: pointer;
    }

    html{
      width: 100%;
      height: 100%;
    }

    body{
      background-image: url('content/projectImage/bg.png');

    }
    .admin-sidebar{
      overflow: hidden;
    }

    .am-nav-tabs{
      margin-top: 0.6em;
      margin-left: 0.5em;
    }

    .am-topbar-customer{

      background-color: #ed2c33;
      border-color:#da1b22;
      color:#eee;

    }
    .admin-sidebar-list li div{
      display: block;
      padding: 1rem 0;
      cursor:pointer;
      color: #5c5c5c;
      padding-left: 24px;
    }
  </style>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-customer admin-header">
  <div class="am-topbar-brand">
    <strong>Auto Form</strong> <small>表单生成</small>
  </div>
</header>

<div id="test" class="am-cf admin-main">
  <autoform-input></autoform-input>
  {{message}}
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <!--
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 布局 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a class="am-cf"><span class="am-icon-check"></span> 行面板</a></li>
            <li><a><span class="am-icon-puzzle-piece"></span> 列面板</a></li>
          </ul>
        </li>

        <li >
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 表单 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a class="am-cf"><span class="am-icon-check"></span> 输入框</a></li>
            <li><a><span class="am-icon-puzzle-piece"></span> 单选框</a></li>
            <li><a><span class="am-icon-th"></span> 复选框</a></li>
            <li><a><span class="am-icon-calendar"></span>文件上传</a></li>
            <li><a><span class="am-icon-bug"></span>下拉框</a></li>
            <li><a><span class="am-icon-bug"></span>日期选择框</a></li>
            <li><a><span class="am-icon-bug"></span>多行输入框</a></li>
          </ul>
        </li>
       -->

      <li v-for="plane in formMap">
          <a  class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span>
              {{plane.title}}
              <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in">
              <li draggable="false" ondragstart="dragStart(event)" v-on:click="testClick" v-for="menu in plane.controlMap">
                <div class="am-cf"><span class="am-icon-check"></span>
                  {{menu.title}}
                </div>
              </li>
          </ul>
      </li>

        <div class="am-panel am-panel-default admin-sidebar-panel">
          <div class="am-panel-bd">
            <p><span class="am-icon-bookmark"></span> 使用方法</p>
            <p>请拖动左方控件到右方面板中。</p>
          </div>
        </div>


      </ul>

    </div>
  </div>
  <!-- sidebar end -->

<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <ul class="am-nav am-nav-tabs">
      <li class="am-active"><a href="#">表单1</a></li>
      <li class="am-active"><a href="#">表单2</a></li>
    </ul>

    <div id="targetPlane" ondragover="dragOver(event)" ondrop="dragEvent(event)" class="am-tab-content" style="width:640px; background-color:#eeeeee; height:600px;">

    </div>

  </div>

  <!--
  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </footer>
  -->
</div>
<!-- content end -->

</div>

<a href="#"  class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>


<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<input type="text" class="myClass" placeholder="测试" id="Testtext">

<!--
<script src="ui/assets/js/jquery.min.js"></script>

<script src="ui/assets/js/amazeui.min.js"></script>
<script src="ui/assets/js/app.js"></script>
-->
<script src="scripts/vue/vue.js"></script>
<script src="scripts/requirejs/require.js"></script>

<script type="text/javascript">

var inputs=document.getElementById('Testtext');
//inputs.attr
for(var key in inputs){
  console.log(key,inputs[key]);
}

console.log(document);

function dragStart(e){
  console.log("开始拖拽",e);
  e.dataTransfer.setData("Text","hellow");
}

function dragOver(e) {

  //console.clear();
  //console.log("拖拽结束",e);
  e.preventDefault();
}

function dragEvent(e) {
  e.preventDefault();
  console.log("元素被拖放：",e);

}

var formMap={
  layout:{
    title:"表单",
    icon:"",
    enable:true,
    controlMap:
    {
      "row":{
        title:"行面板",
        icon:"",
        enable:true
      },
      "col":{
        title:"列面板",
        icon:"",
        enable:true
      }
    }

  },
  formControl:
  {
    title:"表单",
    icon:"",
    enable:true,
    controlMap:{
      "input":{
        title:"文本框",
        icon:"",
        enable:true
      },
      "radio":{
        title:"单选框",
        icon:"3333",
        html:"<div>dc</div>",
        enable:true
      },
      "checkbox":{
        title:"多选框",
        icon:"",
        enable:true
      },
      "select":{
        title:"下拉框",
        icon:"",
        enable:true
      },
      "timepicket":{
        title:"时间选择",
        icon:"",
        enable:true
      },
      "Multiline":{
        title:"多行文本",
        icon:"",
        enable:true
      },
      "file":{
        title:"文件上传",
        icon:"4444",
        html:"<div>99<div>",
        enable:true
      }
    }
  }


}





  new Vue({
    el:"#test",
    data:{
      message:"hello world",
      formMap:formMap
    },
    methods:{
      testClick:function(e){
        console.log(this);
        console.log(this.data);
        this.title="123";
        console.log("触发vue的点击事件",e);
        console.log(this.formMap["formControl"]["file"]);
        console.log(this.formMap);
        this.formMap["formControl"]["controlMap"]["file"]=this.formMap["formControl"]["controlMap"]["radio"];
        this.formMap["formControl"]["controlMap"]["radio"]=this.formMap["formControl"]["controlMap"]["file"];
      }
    }
  });




</script>


</body>
</html>
