<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-生命周期</title>
  </head>
  <body>

    <!--生命周期created-->
    <div id="vue_life">
      <h4>beforeCreate,created</h4>
    </div>

    <!--生命周期mount-->
    <div id="vue_mount">
      <h4>beforeMount,mounted{</h4>
      <div v-for="item in friends">{{item}}</div>
      <component v-bind:is="currentView">
        <!-- 组件在 vm.currentview 变化时改变！ -->
      </component>
      <h4>}</h4>
    </div>

    <!--生命周期update-->
    <div id="vue_update">
      <h4>beforeUpdate,updated{</h4>
        <input type="button" value="触发update" onclick="tiggerUpdate()" />
          <div v-for="item in names">{{item}}</div>
      <h4>}</h4>
    </div>

    <!--生命周期activity-->
    <div id="vue_active">
      <h4>activated,deactivated{</h4>
        <input type="button" value="添加名称触发keep-alive" onclick="tiggerActivity()" />
          <div v-for="ng in noCacheNames">{{ng}}</div>
          <keep-alive><div v-for="cg in cacheNames">{{cg}}</div></keep-alive>
      <h4>}</h4>
    </div>

   <!--生命周期destroye-->
    <div id="vue_destroyedCreate">
      <h4>activated,deactivated{</h4>
        <input type="button" value="添加名称触发destroyed" onclick="tiggerdestroyed()" />
          <div v-for="item in names">{{item}}</div>
      <h4>}</h4>
    </div>


    <script src="scripts/vue/vue.js"></script>
    <script type="text/javascript">

     /*
     生命周期：
     beforeCreate：会在创建vue实例前被触发
     created：会在创建vue实例后被触发

     vue实例生成前以及生成后触发,每个vue实例只触发一次


    */
     consoleWrite("生命周期:beforeCreate,created");
     var vue_lifeCreate=new Vue({
       el:"",
       data:{

       },
       beforeCreate:function(){
         console.log("生命周期：beforeCreate已被触发");
       },
       created:function () {
         console.log("生命周期：created已被触发");
       }
     });

     /*
     生命周期：
     beforeMount：挂载实例前触发
     mounted：挂载实例后触发

     vue实例渲染到dom前以及渲染后触发(包括子组件也渲染完毕),每个vue实例只触发一次
    */
    consoleWrite("生命周期:beforeMount,mounted");
     var mount_child1={
       template:"<div>mount_child【1】</div>"
     }
     var mount_child2={
       template:"<div>mount_child【2】</div>"
     }

     var vue_mountCreate=new Vue({
       el:"#vue_mount",

       data:{
         name:"Asen",
         age:1,
         friends:["sam","andy","kim","pop"],
         currentView:mount_child1,
       },
       components:{
         mount_child1:mount_child1,
         mount_child2:mount_child2
       },

       beforeMount:function(){
         console.log("生命周期：beforeMount已被触发");
       },
       mounted:function () {
          console.log("生命周期：mounted已被触发");
          console.log("el:",this.el,"$el:",this.$el);
          this.$nextTick(function () {
              console.log("$nextTick","所有Vue实例的视图都已渲染完毕");
          });
       }
     });

     /*
     生命周期:
     beforeUpdate：在虚拟dom渲染到html以及修改了值之前
     updated：在虚拟dom渲染到html以及修改了值丁之后

     每当data中的值被修改后触发。
      */
     consoleWrite("生命周期:beforeUpdate,updated");
     var vue_updateCreate=new Vue({
       el:"#vue_update",
       data:{
         names:["bd man","spy","man"]
       },
       beforeUpdate:function(){
         console.log("生命周期：beforeUpdate已被触发");
       },
       updated:function(){
         console.log("生命周期：updated已被触发");
       },
     });

     function tiggerUpdate(){
       vue_updateCreate.names.push("killer");
     }

     /*
     生命周期:
     activated:keep-alive 组件激活时调用。
     deactivated:取消keep-alive组件时激活调动。


    */
     consoleWrite("生命周期:activated,deactivated");
     var vue_activeCreate=new Vue({
       el:"#vue_active",
       data:{
         noCacheNames:["nocache_1","nocache_2","nocache_3"],
         cacheNames:["cache_1","cache_2","cache_3"]
       },
       activated:function(){
         console.log("【生命周期：activated】已被触发");
       },
       deactivated:function(){
         console.log("【生命周期：deactivated】已被触发");
       }
     });

     function tiggerActivity(){
       vue_activeCreate.noCacheNames.push("nocache_4");
       vue_activeCreate.cacheNames.push("cache_4");
     }


     consoleWrite("生命周期:beforeDestroy,destroyed");
     var vue_destroyeCreate=new Vue({
       el:"#vue_destroyedCreate",
       data:{
         names:["people_1","people_2","people_3"]
       },
       beforeDestroy:function(){
         console.log("【生命周期：beforeDestroy】已被触发");
       },
       destroyed:function(){
         console.log("【生命周期：destroyed】已被触发");
       }
     });

     function  tiggerdestroyed() {
       console.log("释放vue实例");
       vue_destroyeCreate.$destroy();
     }


      /*
      new Vue({
        el:"",
        data:{
          name:"Asen",
          age:12,
          desc:"Asen is a man"
        },
        beforeCreate:function(){
          console.log("【生命周期：beforeCreate】已被触发");
        },
        created:function () {
          console.log("【生命周期：created】已被触发");
        },
        beforeMount:function(){
          console.log("【生命周期：beforeMount】已被触发");
        },
        mounted:function(){
          console.log("【生命周期：mounted】已被触发");
        },
        beforeUpdate:function(){
          console.log("【生命周期：beforeUpdate】已被触发");
        },
        updated:function(){
          console.log("【生命周期：updated】已被触发");
        },
        activated:function(){
          console.log("【生命周期：activated】已被触发");
        },
        deactivated:function(){
          console.log("【生命周期：deactivated】已被触发");
        },
        beforeDestroy:function(){
          console.log("【生命周期：beforeDestroy】已被触发");
        },
        destroyed:function(){
          console.log("【生命周期：destroyed】已被触发");
        },
        errorCaptured:function(){
          console.log("【生命周期：errorCaptured】已被触发");
        }

      });
      */
      function consoleWrite(tip){
        console.log(" ");
        console.log("[",tip,"]");

      }
    </script>
  </body>
  </html>
