/*公用全局变量*/

/*
layout 公共变量
*/

/*header*/
@layout-header-height:80px;
@layout-header-bgColor: rgba(52, 52, 52, 0.5);

/*container*/

@layout-width:100%;
@layout-height:84px;

/*footer*/



@mediavar-maxWidth:1024px;
