body{
  padding: 0px;
  margin: 0px;
  font-family: 黑体;
}
.album{
  position: relative;
  top: 0px;
}
.album img{
  max-width: 100%;
}


/*相册滑动*/
.album-list{
  position:relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height:1px;
  transition: height 700ms;
  overflow: hidden;
}
.album-slide-plane{
  position:relative;
  overflow: hidden;

  z-index: 12;
  top: 0px;
  left: 0px;


}
.album-slide-plane img{
  float: left;

}

/*相册计数器*/
.album-num{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 0.8em;
  color: white;
  z-index: 13;
  text-align: center;

}
.album-numbg{
  background-color: black;
  opacity:0.6;
  border-radius: 1px;

}
.album-numbg::after{
  content: "";
}

.album-num lable{
  position: relative;
  left: 15px;

}

/*相册控制器*/
.album-control{
  position: relative;
  top: 0px;
  margin: 30px 15px 0px 15px;
  background-color: #f9f9f9;
  height: 60px;
  line-height: 60px;

}

.album-control>div{
  float:left;
  font-size: 0.9em;
}
.album-btn-prev{
    width: 45%;
    padding-left: 5%;
}
.album-control-line{
  height: 30px;
  position: absolute;
  left: 50%;
  width: 1px;
  top: 15px;
  background-color: #dddddd;
}
.album-control i{
  color: #ccccd0;
  display: inline-block;
  font-size: 1em;
}
.album-btn-prev i{
  transform:rotate(180deg);
}

.album-btn-next i{

}
.album-btn-next{
  width: 45%;
  text-align: right;
  padding-right: 5%;
}
.album-control::after{
  content: "";
  display: block;
  clear: both;
}

/*相册评论*/
.album-tabPlane{
  margin-top: 25px;
  padding: 0px 15px 0px 15px;
  margin-bottom: 40px;
}

.album-tab-content{
  min-height: 250px;
}

.album-tab-title div{
  float: left;
  font-size: 0.7em;
  margin-right: 10px;
}
.album-tab-title::after{
  content: "";
  clear: both;
  display: block;

}
.album-tab-title .unselect{
  color:#c1bdbd;
}
.album-tab-title .select{
  color:#666666;
  padding-bottom: 8px;
  border-bottom:2px solid #666666;
}

.album-tab-title{
  border-bottom: 1px solid #ededed;
}

.album-content-item{
  margin-top: 15px;
  position: relative;
  top: 0px;
}
.album-content-item::after{
  content: "";
  display: block;
  clear: both;
}

.album-content-item>div{
  float: left;
}

.item-content-pic{
  position: absolute;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.item-content{
  padding-left: 45px;
  font-size: 0.8em;

}
.item-content div{
  margin-bottom: 5px;
}
.item-content div:nth-child(2){
  color: #999999;
}
.item-content-pic img{
  max-width: 35px;

  border-radius: 50px;
  display: block;
}
.album-content-item .del{
  right: 10px;

}
.album-content-item .del i{
  color: #d8d8d8;
}

.album-line{
    margin-top: 10px;
    height: 1px;
    border-bottom: 1px solid #ededed;
}

/*评论容器*/
.album-review{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  border-top: 1px solid #eaeaea;
  line-height: 45px;
  background-color: #f9f9f9;
}
.album-review input[type=text]{
  height: 20px;
  border-radius: 8px;
  border: 0px;
  width: 68%;
  padding-left: 7%;
  margin-left: 5%;
  margin-right: 2%;
  color:gray;
}
.album-review i{
  color:#9f9f9f;
  margin-right: 1.5%;
}

.album-review .inputbg{
  position:absolute;
  top: 0px;
  left: 7%;
  margin: 0%;
}
.album-review .select{
  color:#fb5353;
}
.album-review .default{
  color:#9f9f9f;
}

/*评论输入面板*/
.album-review-input{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 11;
}

.album-review-input textarea{

}

.text-reviewcontent{
  height: 140px;
  border: 0px;
  width: 100%;
  text-align: left;
  padding: 0px;
  resize: none;
  color: #bfbfbf;
  padding: 8px;
  font-size: 0.9em;
}
.album-review-post{

  width: 96%;
  height: 45px;
  border-top:1px solid #ededed;
  border-bottom: 1px solid #ededed;
  text-align: right;
  line-height: 45px;
  color: #99999c;
  padding-right: 4%;

}
.album-review-post input[type=button]{
   border-radius: 3px;
   width: 60px;
   height: 30px;
   margin-left:5px;

}
.album-review-post .blue{
  background-color:#60a0f4;
  color: white;
  border: 0px;
}
.album-review-post .default{
  background-color: white;
  border:1px solid #dddddd;
}


/*提示框*/
.album-alert{
  position:fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  /*display: -webkit-box; */
  display: none;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient: vertical;
  text-align: center;
  z-index: 17;
}
.album-alert-text{
  color: white;
  padding: 12px 30px 12px 30px;
  background: rgba(52, 52, 52, .8);
  border-radius: 4px;
}

/*警示框*/
.album-confirm{

  position:fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  /*display: -webkit-box;*/
  display: none;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient: vertical;
  text-align: center;
  background: rgba(52, 52, 52, .8);
  z-index: 16;

}
.album-confirm-plane{
  background-color: white;
  color: black;
  border-radius: 5px;
}
.album-confirm-plane>div:first-child{
  padding:  0px 45px  0px 45px;
  height: 125px;
  line-height: 125px;
  text-align: center;
}
.album-confirm-plane>div:last-child{
  border-top:1px solid #cccccc;
}
.album-confirm-plane>div:last-child::after{
  content: "";
  display: block;
  clear: both;
}
.album-confirm-plane>div:last-child div{
  padding: 15px 0px 15px 0px;
  float: left;
  width: 49.5%;
}
.album-confirm-plane>div:last-child div:first-child{
  border-right: 1px solid #cccccc;
}
.album-confirm-plane .red{
  color:#fd5454;
}

/*点赞提示*/
.album-like-alert{
  position:fixed;
  right: 5%;
  bottom: 55px;
  height: 30px;
  width: 26px;
  border-radius: 50px;
  background: rgba(52, 52, 52, .8);
  color: white;
  text-align: center;
  line-height: 30px;

  font-size: 0.7em;
}
.album-like-down{
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid black;
  opacity:0.6;
  position: relative;
  left: 9px;
  top: -0.55px;
}
