html{
  height: 100%;
  overflow-x:hidden;


}
body{

  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 黑体;
  overflow-x: hidden;

}
.ct-nav{
  position:absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  max-width: 720px;
  height: 48px;
  line-height:65px;
  background-color:#b80000;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;

}
.ct-nav img{
  margin-left: 10px;
  max-height: 30px;
}
.ct-menubtn{
  position: absolute;
  right: 10px;
  top: 12px;
  max-width: 25px;

}
.ct-moneyPlane{
  position:relative;
  top: 0px;

  height: 40px;
  line-height: 40px;
  left: 11.5%;
  top: 9%;

  font-size: 12px;
  color: white;
}
.ct-moneyPlane>div{
  float: left;
  position: relative;

}
.ct-moneyPlane::after{
  content: "";
  display: block;
  clear: both;

}

.ct-money{
    width: 80px;
}

.ct-money-first{
  top: 15px;
  left: 3px;
}
.ct-money-two{
  position: relative;
  bottom: 15px;
  left: 30px;

}

.ct-money img{
  position: relative;
  top: 3px;
  height: 15px;
}

.ct-out{
  margin-left:auto;
  margin-right:auto;
  height:100%;
  position:relative;
  top:30px;
  max-width:720px;
  /*background-image: url('../img/gbj.jpg');*/
  background-size:cover;



}
body{
  overflow-x:hidden;
}
.ct-month{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  position:relative;

}
.ct-text-plane{

  font-size:0.8em;
  line-height:30px;
  padding-left:15px;
  padding:15px;
  text-indent: 20px;
  position: relative;
  top: 0px;
  z-index: 13;
}
.ct-jiao{
  position:fixed;
  bottom:0px;
  right: 0px;
  width: 120px;
  height: 60px;
  z-index: 11;
  background-color: white;

}
.ct-jiao::after{
  content: "";
  display: block;
  clear:both;
}
.ct-jiao img{
  max-width: 150px;
  float: right;
}
.ct-button-first{
  text-shadow:1px 2px 1px gray;
  margin-left:10px;
  font-size:0.8em;
  text-indent:20px;
  line-height:40px;
  color:white;
  height:49px;
  width:220px;
  background-image:url('../img/1.png');
  background-size:100%;
}
.ct-button-two{
  text-shadow:1px 1px 1px gray;
  width:300px;
  margin-top:5px;
  margin-left:10px;
  font-size:0.8em;
  text-indent:20px;
  line-height:44px;
  color:white;
  height:49px;
  background-image:url('../img/2.png');
  background-size:100%;
}

.ct-nav-right {
  background-color: #ffffff;
  height: 100%;
  width: 50%;
  max-width: 360px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10;
  text-align: left;
  display: block;
  border-left:1px solid #eeeeee;
}
.ct-nav-right .nav-item {
  height: 3em;
  background-color: yellow;
  width: 100%;
}
.ct-nav-right ul {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0px;
  list-style-type: none;
}
.ct-nav-right li {
  height: 3em;
  font-size: 1.1em;
  border-bottom: 1px solid #cacaca;
  line-height: 3em;
  padding-left: 1.7em;
  color: #5b5b5b;
}
.ct-nav-right li a {
  text-decoration: none;
  color: #5b5b5b;
}
.ct-nav-right .select {
  color: #e55d5f;
}
#ct-plane{
  position:relative;
  left:0px;
  top:0px;
  height:100%;
  max-width: 720px;
  z-index:11;
  margin-left: auto;
  margin-right: auto;
}
.form-plane{
  position:relative;
  top: 20px;
  z-index: 26;
  background-color: white;
  width: 100%;

}
.form-input {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;

}
.form-input i{
   color:#b80000;
   font-size: 1.5em;


}
.form-input input{
  border: 0px;
  width: 85%;
  border-bottom: 1px solid #b80000;
  outline: none;
  color: gray;
}


.ct-loading{
  position:absolute;
  background-color:white;
  top:0px;
  z-index:20;
  width:100%; height:100%;
  display:none;
  opacity:0;

}
.ct-loading img{
  max-width:100%;
  position: relative;

  background-color: white;
  top: -20px;
  margin-bottom: -25px;
}
.btn-loading{
  margin-bottom:80px;
  height:50px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  background-color:#b80000;
  color:white;
  line-height:50px;
  border-radius:50px;
  text-align:center;
  letter-spacing:6px;
   margin-top:45px;
}
.ct-loading-bottom{
  width:100%;
  z-index:11;
  position:fixed;
  bottom:0px;
  height:50px;
  background-color:#7b7b7b;
  color:white;
  line-height:50px;
  text-align:center;
}
#ct-btn-return{
  position:absolute;
  top:10px;
  left:8px;
  color:white;
  width:60px;
  height:60px;
  font-size:2em;
  z-index: 13;
}


.ct-bg{
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
}
.ct-bgfirst{
   max-width:100%;
   position:absolute;
   top:0px;
   left:0px;
}
.ct-bgtwo{
  max-width:100%;
  position:absolute;
  top:120px;
  left:0px;
  z-index: 10;
}
.ct-mplane{
    position:relative;
    top: 180px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45%;
}
.ct-mplane img {
  max-width:70%;
}
.ct-mplane>div{

  position:relative;
  z-index: 8;
  float: left;
  width: 33.33%;
  height: 180px;

}
.ct-mplane>div:nth-child(1){
  bottom: 85px;
  text-align:center;
}
.ct-mplane>div:nth-child(2){
  bottom: 105px;
  position: relative;
  text-align:center;
}
.ct-mplane>div:nth-child(3){
  bottom: 140px;
  text-align:center;
}

.ct-mplane::after{
  content: "";
  clear: both;
  display: block;
}
.ct-mout-data{
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.8em;
}
.ct-mout-month{
  font-size: 1.3em!important;
  color: white;
  text-align: center;
  margin-left: 16px;
  width: 70%;

}
.ct-mout-moeny{
  display:inline-block;
  color: white;
}
@media (min-height: 720px){
  .ct-mplane{
      margin-bottom: 55%;
  }

}
