<!--模板控件-->

<script type="text/x-template" id="auto-label">
  <input
    :class='className'
    :style='styleText'
    :data-level='level'
    :type='type'
    :placeholder='placeholder'
  />
</script>

<script type="text/x-template" id="auto-row">
<template>
  <div></div>
</template>
</script>

<script type="text/x-template" id="auto-col">
<template>
  <div></div>
</template>
</script>


<script type="text/x-template" id="auto-input">
<template>
  <input type="text" name="" value="" />
</template>
</script>


<script type="text/x-template" id="auto-radio">
<template>
  <input type="radio" name="" value="" />
</template>
</script>

<script type="text/x-template" id="auto-checkbox">
<template>
  <input type="checkbox" name="" value="" />
</template>
</script>

<script type="text/x-template" id="auto-textarea">
<template>
  <textarea></textarea>
</template>
</script>


<script type="text/x-template" id="auto-file">
<template>
  <input type="file" name="" value="" />
</template>
</script>

<script type="text/x-template" id="auto-imgUpload">
<template>
  <input type="file" name="" value="" />
</template>
</script>
