<div id="js-template-optionSelect" >
<div class="item-option-row">
  <label style="margin-right:0.6em; line-height:39px;">option:</label>
  <input disabled="disabled" name="name" type="text" class="am-form-field" value="">
  <input disabled="disabled" name="value" type="text" class="am-form-field" value="">
  <button class="am-btn am-btn-primary">
    <i class="iconfont icon-xiugaiziliao"></i>
  </button>
  <button class="am-btn am-btn-danger">
    <i class="iconfont icon-shanchu"></i>
  </button>
</div>
</div>

<div id="js-template-optionAddSelect" >
<div id="js-select-edit">
<div class='item-option-colum'><input id='selectKey' type='text' placeholder='name' class='am-form-field' /></div>
<div class='item-option-colum'><input id='selectValue' type='text' placeholder='value' class='am-form-field' /></div>
</div>
</div>



<div class="custom-form-editPlane" data-level="2" data-iscontrolplane="true" onclick="formOptionClick(event)" data-type="input" data-targetid="input_1517390395000_2828" data-controlid="div_1517390395000_5168" draggable="true" ondragstart="dragEventBus.dragStart(event)"><input type="email" class="am-form-field" data-level="2" data-controlid="input_1517390395000_2828" name="123" placeholder="124">
  <input type="email" class="am-form-field" data-level="2" data-controlid="input_1517390395000_2828" name="123" placeholder="124">
  <div class="custom-form-editMask" data-level="2" data-type="input" data-targetid="input_1517390395000_2828" data-controlid="div_1517390395000_3658" style="border-color: rgb(19, 207, 112);" success="true"></div>
</div>
